# Dependency directory
node_modules/

# Database
database/db.sqlite

# Environment variables and configuration
*.env
config.json

# Logs
logs/
*.log

# Images
images/*
!images/SeatingMap.png.EXAMPLE
